<?xml version="1.0" encoding="UTF-8"?>

<web-app
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Archetype Created Web Application</display-name>

    <!--<filter>-->
        <!--<filter-name>AuthenticationFilter</filter-name>-->
        <!--<filter-class>org.wso2.mprdash.filters.JWTAction</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>AuthenticationFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->
    <context-param>
        <param-name>log4jConfiguration</param-name>
        <param-value>./classes/log4jconfig.xml</param-value>
    </context-param>

    <servlet>
        <servlet-name>getproducts</servlet-name>
        <servlet-class>org.wso2.mprdash.serverlets.Products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getversions</servlet-name>
        <servlet-class>org.wso2.mprdash.serverlets.Versions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getprs</servlet-name>
        <servlet-class>org.wso2.mprdash.serverlets.Prs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setdoc</servlet-name>
        <servlet-class>org.wso2.mprdash.serverlets.SetDoc</servlet-class>
    </servlet>

    <!-- maps the url /hello to the servlet -->
    <servlet-mapping>
        <servlet-name>getproducts</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getversions</servlet-name>
        <url-pattern>/versions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getprs</servlet-name>
        <url-pattern>/prs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setdoc</servlet-name>
        <url-pattern>/setdoc</url-pattern>
    </servlet-mapping>

</web-app>